version: '3.8'

services:
  nginx-proxy:
    build:
      context: ..
      dockerfile: nginx/Dockerfile.proxy
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    restart: unless-stopped
    volumes:
      - ./ssl:/etc/nginx/ssl:ro
