@use '@angular/material' as mat;

@include mat.core();

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$gray-palette,
    tertiary: mat.$gray-palette,
  ),
  typography: (
    brand-family: Roboto,
    plain-family: system-ui,
  ),
  density: (
    scale: 0,
  ),
));

:root {
  @include mat.all-component-colors($theme);
}
