@import "tailwindcss";
@import "../../libs/ui/src/theme.css";

:root {
  --shiki-color-text: var(--foreground);
  --shiki-color-background: var(--popover);
  --shiki-token-constant: #79c0ff;
  --shiki-token-string: #a5d6ff;
  --shiki-token-comment: #8b949e;
  --shiki-token-keyword: #ff7b72;
  --shiki-token-parameter: #ff7b72;
  --shiki-token-function: #d2a8ff;
  --shiki-token-string-expression: #a5d6ff;
  --shiki-token-punctuation: #c9d1d9;
  --shiki-token-link: #a5d6ff;
  --shiki-token-variable: #ffa657;
  --shiki-token-operator: #ff7b72;
  --shiki-token-class: #7ee787;
  --shiki-token-struct-member: #79c0ff;
  --shiki-token-annotation: #d2a8ff;
  --shiki-token-type: #79c0ff;
}

.dark {
  --shiki-color-text: #c9d1d9;
  --shiki-color-background: #0d1117;
}

@layer base {
  .dark {
    color-scheme: dark;
  }

  .root {
    isolation: isolate;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
