@import "tailwindcss";
@import "../../libs/ui/src/theme.css";

@layer base {
  .dark {
    color-scheme: dark;
  }

  .root {
    isolation: isolate;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
