@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@import "../../libs/ui/src/theme.css" layer(theme);

@layer base {
  .root {
    isolation: isolate;
  }
  body {
    @apply bg-background text-foreground;
  }
}
